TZ=Australia/Sydney
TZ_OFFSET=10
WX_API_URL=https://webexapis.com/v1/messages
MERAKI_API_URL=https://api.meraki.com/api/v1
WX_ROOM_ID=YOUR_WX_ROOM_ID
WX_BOT_TOKEN=YOUR_WX_USER_TOKEN
M_API_KEY=YOUR_MERAKI_API_KEY
M_ORG_ID=YOUR_MERAKI_ORG_ID
